* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  overflow: hidden; }

.contenedor__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 7rem;
  background-image: url(/img/background.png);
  border-bottom: 0.1rem solid yellow;
  align-items: center;
  overflow: hidden; }
  .contenedor__header .header__promesa {
    padding: 0.5em;
    flex: 2;
    width: 40rem; }
    .contenedor__header .header__promesa p {
      color: white;
      font-weight: 500; }
      .contenedor__header .header__promesa p span {
        background-color: yellow;
        color: black;
        font-weight: bold; }
  .contenedor__header .hedaer__btnCTA {
    display: flex;
    flex: 1;
    justify-content: flex-start; }
    .contenedor__header .hedaer__btnCTA .btnCTA {
      font-size: 1.2em;
      font-weight: 500;
      color: black;
      background-color: yellow;
      border-radius: 0.2em;
      border: none;
      padding: 0.2em;
      cursor: pointer;
      transition: transform 0.3s ease-in; }
      .contenedor__header .hedaer__btnCTA .btnCTA span {
        text-transform: uppercase;
        font-weight: bold; }
    .contenedor__header .hedaer__btnCTA .btnCTA:hover {
      transform: scale(1.1);
      box-shadow: 0 0 5px yellow, 0 0 20px yellow,  0 0 40px yellow,  0 0 20px yellow; }
  .contenedor__header .header__timer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-start;
    font-weight: 300;
    width: 15rem;
    color: white;
    flex: 2;
    font-size: 2em; }
  .contenedor__header #temporizador {
    align-items: center;
    text-align: center;
    justify-content: flex-start; }
    .contenedor__header #temporizador .borde {
      border: 2px solid white;
      border-radius: 0.5rem;
      margin: 0rem 1rem;
      width: 5rem;
      height: 5rem; }
      .contenedor__header #temporizador .borde .valor {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }

.contenedor__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #151515;
  overflow: hidden; }

.main__presentacion {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  width: 70rem;
  height: auto;
  overflow: hidden;
  align-items: center;
  text-align: center;
  overflow: hidden; }
  .main__presentacion .logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem; }
    .main__presentacion .logo span {
      font-weight: lighter; }
  .main__presentacion p {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase; }
    .main__presentacion p span {
      color: yellow;
      font-weight: bold; }
  .main__presentacion .redes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    width: 30em;
    height: auto;
    padding-top: 2rem; }
    .main__presentacion .redes .redes__item {
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem; }
      .main__presentacion .redes .redes__item img {
        width: 100%;
        height: auto; }
  .main__presentacion .vsl {
    padding: 5rem; }
    .main__presentacion .vsl iframe {
      box-shadow: 0 0 70px 25px #204473; }

.main__socialProof {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden; }
  .main__socialProof h3 {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 500; }
    .main__socialProof h3 span {
      background-color: yellow;
      font-weight: bold;
      color: black; }
  .main__socialProof .socialProof__cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    width: 80%;
    height: auto;
    justify-content: space-around; }
    .main__socialProof .socialProof__cards .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      height: 30rem;
      width: 20rem;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
      border: 0.2rem solid #204473;
      border-radius: 1rem;
      background-color: #0B1926; }
      .main__socialProof .socialProof__cards .card img {
        width: 90%;
        height: 10rem; }
      .main__socialProof .socialProof__cards .card h2 {
        color: white;
        font-size: 1.5rem;
        font-weight: 500; }
        .main__socialProof .socialProof__cards .card h2 span {
          text-transform: uppercase;
          background-color: #e3eeff;
          font-weight: bold;
          color: black;
          border-radius: 0.5rem;
          padding: 0.2rem 0.2rem; }
      .main__socialProof .socialProof__cards .card p {
        color: white;
        text-transform: uppercase;
        text-align: center; }
      .main__socialProof .socialProof__cards .card button {
        font-size: 1.2em;
        font-weight: bold;
        background-color: yellow;
        border-radius: 0.5em;
        padding: 0.5em 0.5em;
        color: black;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border: none;
        transition: transform 0.3s ease-in; }
      .main__socialProof .socialProof__cards .card .btn:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px yellow, 0 0 20px yellow,  0 0 40px yellow,  0 0 20px yellow; }

.main__calendario {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden; }

.contenedor__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-image: url(/img/background.png);
  overflow: hidden;
  border-top: 0.1rem solid yellow; }
  .contenedor__footer .footer__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    width: auto;
    height: auto;
    justify-content: center; }
    .contenedor__footer .footer__info .footer__logo {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      width: auto;
      align-items: center;
      text-align: center;
      justify-content: center; }
      .contenedor__footer .footer__info .footer__logo img {
        width: 5rem;
        height: 5rem; }
      .contenedor__footer .footer__info .footer__logo span {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: yellow; }
    .contenedor__footer .footer__info p {
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-weight: 500; }
  .contenedor__footer .footer__redes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    width: 30em;
    height: auto;
    padding: 2rem; }
    .contenedor__footer .footer__redes .lista__item {
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem; }
      .contenedor__footer .footer__redes .lista__item img {
        width: 100%;
        height: auto; }
  .contenedor__footer .footer__newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    text-align: center; }
    .contenedor__footer .footer__newsletter span {
      color: white;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase; }
    .contenedor__footer .footer__newsletter .newsletter button {
      font-size: 1.1rem;
      font-weight: bold;
      background-color: yellow;
      border-radius: 0.5rem;
      padding: 0.2rem 0.2rem;
      color: black;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      border: none; }
