.contenedor__footer{
    @include conteiner-flex-column;
    background-image: url(../img/background.png);
    overflow: hidden;
    border-top: 0.1rem solid yellow;
    justify-content: center;
    align-items: center;
    .footer__info{
        padding: 0.1rem 0.1rem;
        order: 2;
        @include conteiner-flex-column;
        width: auto;
        height: auto;
        justify-content: flex-end;
        .footer__logo{
            @include conteiner-flex-row;
            width: auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 5rem;
                height: 5rem;
            }
            span{
                font-size: 1.5rem;
                font-weight: bold;
                background-color: yellow;
            }
        }
        
        p{
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-weight: 500
        }
    }

    .footer__redes{
        order: 1;
        @include conteiner-flex-row;
        align-items: center;
        width: 70%;
        height: auto;
        padding: 2rem;
        justify-content: space-around;
        .lista__item{
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            img{
                width: 100%;
                height: auto;
                border-radius: 50%;
                transition: 0.2s ease-in;
            }
            img:hover{
                box-shadow: 0 0 5px yellow,
                0 0 20px yellow, 
                0 0 40px yellow, 
                0 0 20px yellow;
            }
        }
    }
}

@media (max-width: 768px){
    .contenedor__footer{
        .footer__info{
            .footer__logo{
                img{
                    width: 3rem;
                    height: 3rem;
                }
                span{
                    font-size: 1.2rem;
                }
            }
        }
    
        .footer__redes{
            width: 20em;
            .lista__item{
                width: 3rem;
                height: 3rem;
            }
        }

    }
}

@media (max-width: 425px){
    .contenedor__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        .footer__info{
            order: 3;
            display: flex;
            flex-direction: column;
            justify-self: center;
            .footer__logo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                img{
                    width: 3rem;
                    height: 3rem;
                }
                span{
                    font-size: 1.2rem;
                }
            }
        }
    
        .footer__redes{
            order: 2;
            justify-content: space-around;
            .lista__item{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

