.contenedor__header{
    @include conteiner-flex-row;
    height: 7rem;
    background-image: url(../img/background.png);
    border-bottom: 0.1rem solid yellow;
    align-items: center;
    overflow: hidden;
        
    .header__promesa{
        padding: 0.5em;
        flex:2;
        width: 40rem;
        p{
            color: white;
            font-weight: 500;
            span{
                background-color: yellow;
                color: black;
                font-weight: bold;
            }
        }
    }

    .hedaer__btnCTA{
        display: flex;
        flex: 1;
        justify-content: flex-start;
        .btnCTA{
            font-size: 1.2em;
            font-weight: 500;
            color: black;
            background-color: yellow;
            border-radius: 0.2em;
            border: none;
            padding: 0.2em;
            cursor: pointer;
            transition: transform 0.3s ease-in;
            text-transform: uppercase;
            font-weight: bold;
        }
        .btnCTA:hover{
            transform: scale(1.1);
            box-shadow: 0 0 5px yellow,
            0 0 20px yellow, 
            0 0 40px yellow, 
            0 0 20px yellow;
            
        }
    }

    .header__timer{
        @include conteiner-flex-row;
        justify-content: flex-start;
        font-weight: 300;
        width: 15rem;
        color: white;
        flex:2;
        font-size: 2em;
        
    }
    #temporizador{
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        .borde{
            border: 2px solid white;
            border-radius: 0.5rem;
            margin: 0rem 1rem;
            width: 5rem;
            height: 5rem;
            
            .valor{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px){
    .contenedor__header{
        padding: 1rem;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-rows: auto auto; /* Dos filas, la primera se ajusta automáticamente y la segunda también */
        grid-template-columns: 50% 50%; /* Una columna */
        gap: 10px; /* Espacio entre los elementos */
        .header__timer{
            width: auto;
            font-size: 1.5em;
            grid-row: 2; /* Coloca el segundo elemento en la segunda fila */
            grid-column: 1;
            text-align: center;
        }
        #temporizador{
            display: flex;
            justify-content: flex-end;
            .borde{
                margin: 0rem 0.5rem;
                width: 3rem;
                height: 3rem;
            }
        }
    }
        .hedaer__btnCTA{
            grid-row: 2; /* Coloca el tercer elemento en la segunda fila */
            grid-column: 2;
            display: flex;
            justify-content: flex-start;
            width: auto;
            .btnCTA{
            }   
        }
        .header__promesa{
            grid-row: 1; 
            grid-column: 1 / span 2;
            width: 100%;
            justify-content: center;
            p{
                justify-content: center;
            }
        }
    }

@media (max-width: 430px){
    .contenedor__header{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        .header__timer{
            order: 2;
        }
        .hedaer__btnCTA{
            order: 3;
        }
        .header__promesa{
            width: 100vw;
            height: auto;
            order: 1;
            text-align: center;
            font-size: 1rem;
        }
    }
}

@media (max-width: 425px){
    
}
    