.main__presentacion{
    @include conteiner-flex-column;
    width: 70rem;
    height: auto;
    overflow: hidden;
    align-items: center;
    text-align: center;
    overflow: hidden;
    .logo{
        color: white;
        font-size: 2rem;
        font-weight: bold;
        span{
            font-weight: lighter;
        }
        padding: 2rem;
    }
    h2{
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        span{
            color: yellow;
            font-weight: bold;
        }
    }
    h3{
        color: white;
        font-weight:normal;
        margin-top: 0,5rem;
    }
    .redes{
        @include conteiner-flex-row;
        width: 30em;
        height: auto;
        padding-top: 2rem;
        .redes__item{
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            img{
                width: 100%;
                height: auto;
                border-radius: 50%;
                transition: 0.2s ease-in;
            }
            img:hover{
                box-shadow: 0 0 5px yellow,
                0 0 20px yellow, 
                0 0 40px yellow, 
                0 0 20px yellow;
            }
        }
    }

    .vsl{
        padding: 5rem;
        .video {
            box-shadow: 0 0 65px 10px blue;
            height: auto;
        }
    }

@media (max-width: 768px){
    .main__presentacion{
        max-width: 100vw;
        .vsl{
            .video{
                width: 700px;
                height: 395px;
            }
        }
    }
}

@media (max-width: 430px){
    .main__presentacion{
        max-width: 100vw;
        padding: 0.3rem;
        p{
            font-size: 1rem;
        }
        .redes{
            width: 15em;
            .redes__item{
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
            }
        }
        .vsl{
            .video{
                width: 340px;
                height: 190px;
            }
        }
    }
}

@media (max-width: 425px){
    .main__presentacion{
        max-width: 100vw;
        padding: 0.3rem;
        p{
            font-size: 1rem;
        }
        .redes{
            width: 15em;
            .redes__item{
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
            }
        }
        .vsl{
            .video{
                width: 354px;
                height: 200px;
            }
        }
    }
}
}