.main__presentacion{
    @include conteiner-flex-column;
    width: 70rem;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    overflow: hidden;
    .logo{
        color: white;
        font-size: 2rem;
        font-weight: bold;
        span{
        font-weight: lighter;
        }
    }
    p{
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        span{
            color: yellow;
            font-weight: bold;
        }
    }
    .vsl{
        video{
            width: 50rem;
            height: 25rem;
        }
    }
    
}
