.main__socialProof{
    @include conteiner-flex-column;
    height: auto;
    align-items: center;
    h3{
        font-size: 2rem;
        color: white;
        text-align: center;
        font-weight: 500;
        padding: 2rem;
        span{
            background-color: yellow;
            font-weight: bold;
            color: black;
        }
    }
    .socialProof__cards{
        @include conteiner-flex-column;
        width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        .card{
            @include conteiner-flex-column;
            @include estilos-logicos-card;
            align-items: center;
            text-align: center;
            padding: 0.5rem;
            margin: 2rem;
            border: 0.2rem solid $color-elementos;
            border-radius: 1rem;
            background-color: $color-fondo;
            .conteiner__img1{
                @include conteiner-img-card;
                background-image: url(../img/franco.jpeg);
            }
            .conteiner__img2{
                @include conteiner-img-card;
                background-image: url(../img/erik.jpeg);
            }
            .conteiner__img3{
                @include conteiner-img-card;
                background-image: url(../img/german.jpg);
            }

            h2{
                color: white;
                font-size: 1.5rem;
                font-weight: 500;
                span{
                    text-transform: uppercase;
                    background-color: $color-fuente1;
                    font-weight: bold;
                    color: black;
                    border-radius: 0.5rem;
                    padding: 0.2rem 0.2rem;
                }
            }
            .parrafo{
                height: auto;
                margin: 2rem;
                color: white;
                font-style: oblique;
            }
            .more {
                display: none;
                margin-bottom: 10px;
                cursor: pointer;
                font-weight: 500;
                border: none;
                border-radius: 0.5rem;
                padding: 0.2rem 0.2rem;
                background-color: $color-elementos;
                color:white;
                font-size: 1.2rem;
            }
            .btn{
                font-size: 1.2em;
                font-weight: bold;
                background-color: yellow;
                border-radius: 0.5em;
                padding: 0.5em 0.5em;
                color: black;
                cursor: pointer;
                text-align: center;
                text-transform: uppercase;
                border: none;
                transition: transform 0.3s ease-in;
            }
            .btn:hover{
                transform: scale(1.1);
                box-shadow: 0 0 5px yellow,
                0 0 20px yellow, 
                0 0 40px yellow, 
                0 0 20px yellow;
                
            }
        }
    }
}

@media (max-width: 768px){
    .main__socialProof{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente */
        .socialProof__cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            .card{
                margin: 1rem;
                height: auto;
                width: 25rem;
                .more{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 425px){
    .main__socialProof{
        height: auto;
        h3{
            font-size: 1.5rem;
        }
        .socialProof__cards{
            height: auto;
            .card{
                .more{
                    display: block;
                }
                margin: 1rem;
                height: auto;
                width: 20rem;
                .parrafo{
                    height: 100px;
                    overflow: hidden;
                    transition: height 0.3s ease;
                }
                .parrafo.expandido {
                    height: auto;
                }
            }
        }
    }
}
